.card.large-padding
	%table.table.table-striped.table-hover.medium#table_shopping_cart
		%thead.bold.green-text
			%td PRODUCTO
			%td COSTO
			%td ACCIONES
		%tbody
			-@shopping_cart.in_shopping_carts.each do |is|
				-product = is.product
				-@is = is
				%tr{id: "#{product.id}"}
					%td= product.name
					%td= product.pricing
					%td=render "in_shopping_carts/delete", id: @is
	.top-space.large-padding.text-center#payment_form
		%p.medium
			%strong
				Total: $
				=@shopping_cart.total
	.top-space
		=render "service_orders/form", shopping_cart_id: @shopping_cart.id
		

