%header.no-margin
	%nav.turkey
		%ul.no-list.text-center.no-margin.bold.no-padding
			%li.col-md-2.inline-block.text-center.no-padding
				=image_tag "corona.png", height:"25px"
				=image_tag "logo.png", height:"25px"
			%li.col-md-6.inline-block.tall-padding
				-if user_signed_in?
					=link_to new_product_path, class: "right-space no-decoration" do
						%i.mdi-action-shopping-basket.gold-text
						+ Producto
					=link_to root_path, class: "right-space no-decoration" do
						%i.mdi-action-trending-up.gold-text
						Ordenes
					=link_to root_path, class: "right-space no-decoration" do
						%i.mdi-action-alarm.gold-text
						Descuentos
					=link_to destroy_user_session_path, method: :delete do
						Cerrar sesion
				-else
					=link_to root_path, class: "center-space josefin no-decoration" do
						HOME
					=link_to products_path, class: "center-space josefin no-decoration" do
						PRODUCTOS
					=link_to root_path, class: "center-space josefin no-decoration" do
						DESAYUNOS EMPRESARIALES
					=link_to root_path, class: "center-space josefin no-decoration" do
						CONTACTO
			%li.col-md-4.inline-block.tall-padding
				=link_to carrito_path, class:"white-text no-decoration josefin" do
					%div
						%span.white-text.center-xs
							MI CARRITO
						%i.mdi-action-shopping-cart
						(
						%span.other-grey-text= @shopping_cart.products.count
						)
