%h1 Bienvenidos mis perros
%p=link_to "Cerrar sesion", destroy_user_session_path, method: :delete 
.big-padding
	=form_tag(create_email_path, method: :post, remote: true, id:"emails-form") do
		=email_field_tag "email", nil,placeholder:"escribe aqui tu email"
	#email-info.big-padding

<div class="container no-margin no-padding container-owner">
  <div id="myCarousel" class="carousel slide no-margin" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators black-text">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class=" center item active">
        <img src="/assets/fan.png" alt="Chania" width="100%" height="500px">
      </div>

      <div class="center item">
        <img src="/assets/img2.jpg" alt="Chania" width="100%" height="500px">
      </div>
    
      <div class="item">
        <img src="/assets/img2.jpg" alt="Flower" width="100%" height="500px">
      </div>

      <div class="item">
        <img src="/assets/img3.jpg" alt="Flower" width="100%" height="500px">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="mdi-av-skip-previous" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="mdi-av-skip-next" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
