    <div class="video-container full-height opacity">
        <video autoplay loop class="fillWidth">
            <source src="/assets/Sugar.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/assets/Sugar.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/assets/Sugar.ogv" type="video/ogv" />
        </video>
    </div>
<div class="row middle-xs center-xs no-margin relative full-height filter">
    <div class="col-xs-12">
        <%= image_tag "logo2.png", height:"80px"%>
        <div class="box white-text big-size quincho margin-little">
            Royal Gift
            <p class="col-md-12  center-xs sofia medium-size">Detalles especiales para momentos especiales</p>
        </div>
    </div>
</div>




































































