.col-md-10.center-block.no-float
	%article.card.large-padding
		%h4 Tu pago se ha realizado satisfactoriamente
		%p Hemos enviado un mail con el resumen de tu pedido
		.top-space
		%h4 Resumen de tu pedido
		%table.table.table-striped.table-hover.medium#table_shopping_cart
			%thead
				%td Producto
				%td Costo
			%tbody
				-@shopping_cart.in_shopping_cart.each do |i|
				-product = i.product
				%tr={ id: "#{product.id}"}
					%td= product.name
					%td= product.pricing
