=form_tag @order, method: :post, class: "top-space" do
	.col-md-4
		%span.bold Datos del remitente
		.from-group.top-space
			=text_field_tag :de, nil, class:"form-control floating-label", placeholder: "Nombre de quien envia", require: true
		.from-group.top-space
			=text_field_tag :telefono, nil, class:"form-control floating-label", placeholder: "Numero de telefono", require: true
		.from-group.top-space
			=email_field_tag :email, nil, class:"form-control floating-label", placeholder: "E-mail", req: true
	.col-md-4
		%span.bold Datos de quien recibe
		.from-group.top-space
			=text_field_tag :para, nil, class:"form-control floating-label", placeholder: "Nombre de quien recive", require: true
		.from-group.top-space
			=text_field_tag :direccion, nil, class:"form-control floating-label", placeholder: "Direccion de quien recive", require: true
		.from-group.top-space
			=text_field_tag :hora, nil, class:"form-control floating-label", placeholder: "Hora de entrega", require: true
			%p.no-padding.no-margin Ten encuenta un rango de una hora y media de tolerancia en la hora de la entrega
			=hidden_field :shopping_cart_id, value: shopping_cart_id
	=content_tag :button, type: :submit, class: "btn btn-info" do
		Pagar