=render "payments/card_data"
.col-md-10.card.no-decoration.large-padding.margin-left
	.col-md-8
		%p.medium Gracias por elegirnos 
		%p Hemos enviado una Orde de servicio a tu correo, en breve te estaremos llamando para confirmar los datos de tu solicitud, acontinuacion te presentamos las alternativas de pago que tenemos disponibles para ti.
	=render "payments/buttons"
