.col-sm-4.col-md-3.inline-block
	=button_to "/pay", method: :post, class:"payment-btn paypal-btn no-margin" do 
		Pagar con
		=image_tag "paypal_logo_small.png", height:20
.col-sm-4.col-md-3.inline-block
	=link_to "#info-card" ,class:"payment-btn grey no-margin no-decoration", "data-toggle"=>"modal" do 
		Pagar con
		=image_tag "visa_cc.png", height:25
		=image_tag "mastercard_cc.png", height:25

