.modal.fade{ id: "info-card"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close.close-modal{"data-dismiss"=>"modal", "aria-hidden" =>"true"} X
				%h3.green-text.modal-title Paga con tu tarjeta
			.modal-body
				=form_tag "/payments/cards", method: :post, class: "top-space" do
					.from-group.top-space
						=email_field_tag :email, nil, class:"form-control floating-label", placeholder: "E-mail", require: true
					.from-group.top-space
						=text_field_tag :number, nil, class:"form-control floating-label", placeholder: "Numero de tarjeta", require: true
					.from-group.no-padding
						%p.no-margin Fecha de expiracion
						.col-xs-6.col-sm-4.col-md3.no-padding.inline-block
							%p.no-margin Mes
							=select_tag :expire_month, options_for_select((1..12).to_a), class:"form-control"
						.col-xs-6.col-sm-4.col-md3.no-padding.inline-block
							%p.no-margin Año
							=select_tag :expire_year, options_for_select((2016..2025).to_a), class:"form-control"
					.from-group.top-space
						.col-xs-8.col-sm-5.col-md3.no-padding.inline-block
							=text_field_tag :cvv2, nil, class:"form-control floating-label", placeholder: "CVV (Reverso de la tarjeta)", require: "required"
					%p.green-text * Los datos de tu tarjeta no son almacenados, puedes confiar
					=content_tag :button, type: :submit, class: "btn btn-info" do
						Pagar
			.modal-footer





































