@import "bootstrap";

input { 
border: none; 
outline:0px;
} 

/* Edicion de imagen */
img{
	max-width:100% !important;
}

@font-face{
	font-family: "JosefinSans";
	src: url('/assets/JosefinSans-Regular');
	
}
@font-face{
	font-family: "Quincho";
	src: url('/assets/QuinchoScript_PersonalUse.ttf');
	
}
@font-face{
	font-family: "sofia";
	src: url('/assets/Sofia-Regular');
	
}
.up{
	top:20;
}

.hi{
	overflow: hidden;
	height: 40%;
	max-height: 320px;
	position: relative !important;

}
.images{
	overflow: hidden;
	height: 40%;
	max-height: 380px;
	position: relative !important;

}
.radius{
	border-radius: 1em;
}

#up, #down{
	cursor: pointer;
}

@font-face{
	font-family: "AmaticSC";
	src: url('/assets/Amatic-Bold');
}
.quincho{
	font-family: "Quincho";
}
.sofia{
	font-family: "sofia";
}
.josefin{
	font-family: "JosefinSans";
}
.amatic{
	font-family: "AmaticSC";
}
.block{
	display: block;
}
.absolute{
	position: absolute !important;
}
/* Padding */
.big-padding{
	padding: 0.5em;
}
.no-padding{
	padding: 0 !important;
}
.tall-padding{
	padding: 10px 5px;
}
.right-space{
	margin-right:1.2em;
}
.center-space{
	padding-right:0.5em;
	padding-left: 1em;
}
.large-padding{
	padding: 2em;
}
.padding-top{
	padding-top: 1em;
}
.padding-little{
	padding: 0.6em;
}

/* Margin */
.no-margin{
	margin: 0 !important;
}
.margin-all{
	margin: 1em !important;
}
.margin-little{
	margin: 0.3em !important;
}
.no-margin-top{
	margin-top: 0;
}
.no-margin-left{
	margin-left: 0;
}
.no-margin-right{
	margin-right: 0;
}
.margin-right{
	margin-right: 0.5em;
}
.margin-left-mini{
	margin-left: 15px;
}
.margin-left{
	margin-left: 2em;
}
.margin-top{
	margin-top:100px;
}
.margin-top-little{
	margin-top:0.2em;
}
.margin-bottom{
	margin-bottom:0.9em;
}
.large-margin{
	margin-bottom: 0.5em;
}

.border-arround{
	border-style: ridge;
}
.border-bottom{
	border-bottom-style: ridge;
}
.border-right{
	border-right-style: ridge;	
}
.bottom-space{
	margin-bottom: 1.5em;
}
/* Aliniamiento */
.in-top{
	vertical-align: top !important;
}
.no-float{
	float: none !important;
}
.inline-block{
	float:none !important;
	display: inline-block;
	vertical-align: middle;
	margin-right: -4px;
}
.absolute{
	position: absolute;
}

.center{
	text-align: center;
}
.text-left{
	text-align: left;
}

/* Tamaño de letra*/
.small{
	font-size: 12px;
}
.normal{
	font-size: 1.2em;	
}
.medium{
	font-size: 1.5em;	
}
.big{
	font-size: 4em;	
}
.top-space{
	margin-top: 1em;
}

/*size*/
.big-size{
	font-size: 8em;
}
.medium-size{
	font-size: 0.4em;
}
.container-owner{
	width: 100% !important;
}


.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: absolute;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.filter {
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100% !important;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.full-height{
	height: 720px !important;
}
.relative{
	position: relative;
}
.up{
	z-index: 5;
}
.opacity{
   filter:alpha(opacity=50);
}