
@import "bootstrap";

/*Definicion de colores*/
$grey: #5A6576;
$other-grey: #E7ECEE;

/*Paleta de colores*/
$blue: #058CC5;
$red: #FF0000;
$green: #16a085;
$light-blu: #3498DB;
$light-green: #A5D380;
$teal: #009688;
$violet: #FFB700;
$orange: #FF6500;
$yellow: #EAE480;
$turkey: #FF5D53;
$gold: #6CC0E8;

.white{
	background-color: white;
}
.green{
	background-color: $green;
}
.green-text{
	color: $green;
}
.gold{
	background-color: $gold;
}
.gold-text{
	color: $gold;
}
.yellow{
	background-color: $yellow;
}
.yellow-text{
	color: $yellow;
}
.turkey{
	background-color: $turkey;
}
.turkey-text{
	color: $turkey;
}
.violet{
	background-color: $violet;
}
.violet-text{
	color: $violet;
}
.orange{
	background-color: $orange;
}
.orange-text{
	color: $orange;
}
.black-text{
	color: #000000 !important;
}
.red{
	background-color: $red;
}
.red-text{
	color: $red !important;
}
.teal{
	background-color: $teal;
}
.teal-text{
	color: $teal !important;
}
.white-text{
	color: white;
}

.grey{
	background-color: $grey;
}
.other-grey{
	background-color: $other-grey;
}
.other-grey-text{
	color: $other-grey;
}
.grey-text{
	color: $grey;
}
.light-blue{
	background-color: $light-blu;
}
.light-blue-text{
	color: $light-blu;
}
.light-green{
	background-color: $light-green;
}
.blue-text{
	color: $blue;
}

/*Edicion de letra*/

.bold{
	font-weight:bold;
}

.payment-btn{
	border-radius: 3px;
	border: none;
	color: #fff;
	outline: none;
	padding: 1em 2em;
}	

.no-decoration{
	text-decoration: none !important;

}
.paypal-btn{
	background-color:#00CCFF; 
}
.card-btn{
	background-color: $light-green; 
}










