= form_for @product, builder: BootstrapFormBuilder do |f|
  = f.errors
  = f.text_field :name
  = f.text_field :pricing
  = f.text_area :description
  = f.text_area :content
  = f.file_field :avatar
  = f.submit :Crear