.col-md-3.inline-block.in-top
	%nav.medium
		.grey-text.light-green.col-md-12.large-padding
			Administracion
.col-md-9.inline-block.in-top
	.card.large-padding
		.col-md-9.inline-block
			%h1= @product.name
		.col-md-3.inline-block
			%p.big.no-margin.red-text= @product.pricing
		%nav.top-space.grey
			=link_to product_path(id: @product.id, client: true), class:"grey large-padding text-center col-md-4 inline-block" do
				Ver como cliente
			=link_to edit_product_path(@product), class:"grey large-padding text-center col-md-4 inline-block" do
				Editar producto
			=link_to @product, method: :delete, class:"grey large-padding text-center col-md-4 inline-block", data: { confirm: "Estas seguro de eliminar el producto"} do
				Eliminar
		%div
			%h3.grey-text Subir imagenes
			=render "images/form", product_id: @product.id
			%ol
				-@product.images.each do |i|
					%li.large-margin.grey-text.other-grey
						.col-xs-11.inline-block= i.image_file_name
						.col-xs-1.inline-block
							=link_to i, method: :delete,:"data-confirm"=>"Estas seguro que quieres borrar esta imagen?", class:"red-text" do
								%i.mdi-action-delete







































































