
.top-space
.col-lg-12.container-owner.big-padding
  .col-lg-9.middle-xs.bold.normal.relative.grey-text
    Regala hoy un detalle unico y especial para pasar un dia espectacular con Royal Gift
  .col-lg-3.grey-text
    %p.no-margin.text-left Tel 5386524 / 3118901557
    %p.no-margin.text-left royalgiftbogota@gmail.com
    %p.no-margin.text-left Bogota/Colombia
.col-lg-2.grey-text.no-margin
  .top-space
    %span.block.bold ZONAS DE COVERTURA
    %span.block Segunda frase
    %span.block Tercera frase
  =image_tag("caja3.png", size: "120x120") 
  %P.no-padding.no-margin Estuche de lujo
  =image_tag("mesa.png", size: "120x120") 
  %P.no-padding.no-margin Estuche de lujo
  =image_tag("baul.png", size: "120x120") 
  %P.no-padding.no-margin Estuche de lujo
  =image_tag("picnic.png", size: "120x120") 
  %P.no-padding.no-margin Estuche de lujo
  =image_tag("jinjan.png", size: "120x120") 
  %P.no-padding.no-margin Estuche de lujo
.col-lg-10.no-margin.no-padding
  -@products.each do |p|  
    .col-md-3.no-padding-right.margin-top-little.inline-block
      %div{ id:"#{p.id}", onmouseover:"card('#{p.id}');", onmouseout:"normal('#{p.id}');"}
        =image_tag(p.avatar,class:"block", size:"280x200")
        .padding-little
          .bold.white-text.turkey.center.padding-little= p.name
          %p.black-text.no-margin
            %span.bold Precio $
            =p.pricing
          .orange.center.btn.btn-info.no-decoration
            =link_to 'Ver mas', p
          .bottom-space


