%div
	=link_to product_path, class:"black-text" do
		PRODUCTOS/
		=@product.name
.top-space
.col-lg-2.col-md-2.images
	%div.up.other-grey.center{ id:"up", onclick:"mover();"}
		%i.mdi-hardware-keyboard-arrow-up
	%div.center.hi{ id:"slider" }
		-n = 1
		=image_tag(@product.avatar, class:"center", size:"120x108", value:"#{n}", id:"#{n}", onmouseover:"loaderimage('#{n}');")
		-@product.images.each do |image|
			-n = n+1
			%section
				=image_tag(image.image, class:"center", size:"120x108", value:"#{n}", id:"#{n}", onmouseover:"loaderimage('#{n}');")
	%div.up.other-grey.center{ id:"down" }
		%i.mdi-hardware-keyboard-arrow-down
	
.col-lg-7.col-md-5.col-xs-12.col-sm-11.no.float.center-block.no-margin.no-padding
	%article.big-padding
		%div
			.col-xs-8.col-md-8.no-padding.inline-block.border-bottom.margin-bottom.no-margin-left
				=image_tag(@product.avatar, class:"block", size:"420x350", id:"bigimage")
			.col-xs-4.col-md-4.inline-block.text-left.absolute
				%h1.light-blue-text.amatic= @product.name
				.top-space
				%h3.bold.normal
					%span.red-text=" $#{@product.pricing} pesos"
				.top-space
					%span.grey-text.josefin
						%br=@product.description
				%div.center.inline-block.margin-botton
					=render "in_shopping_carts/form", product: @product
				.top-space
				=link_to 'https://www.facebook.com/royalgiftbogota/', :target => :blank, class:"btn btn-info" do
					=image_tag("facebook.png")
					ROYAL GIFT

		.top-space
.col-lg-3.col-md-3.no-padding.no-margin
	%article.big-padding
		%header.center.text-left
			%h5.grey-text.bold
				POLITICAS Y CONDICIONES
			%ul.text-left.no-margin-top.no-margin-right.margin-left-mini.josefin.no-padding
				%li
					El valor incluye el transporte dentro de la ciudad de bogota, para lugares aledaños porfavor contactarse para verificar excedente
				%li
					no se entrgan pedidos fuera de los horarion
				%li
					no se entrgan pedidos fuera de los horarion
				%li
					no se entrgan pedidos fuera de los horarion
.col-md-1.large-padding
.col-md-9.other-grey.large-padding
	%h4.bold
		CONTENIDO
	.text-left.no-margin-top.no-margin-left.josefin
		=@product.content
.top-space
	