.big-padding
	=form_tag(create_email_path, method: :post, remote: true, id:"emails-form") do
		=email_field_tag "email", nil,placeholder:"escribe aqui tu email"
	#email-info.big-padding
.col-md-12
	%div{:class => "carousel slide", :id => "carousel-1", "data-ride" =>"carousel"}
		%ol.carousel-indicators
			%li.active{"data-target"=>"#carousel-1", "data-slide-to"=>"0"}
			%li{"data-target"=>"#carousel-1", "data-slide-to"=>"1"}
			%li{"data-target"=>"#carousel-1", "data-slide-to"=>"2"}
		.carousel-inner{:role => "listbox"}
			.item.active
				.img-responsive
			.item
				.img-responsive
			.item
				.img-responsive