.col-lg-1
.col-lg-8
	.medium.bold.large-padding.text-grey
		¿Qienes somos?
	%p.text-grey.normal.no-margin-top
		Somos un grupo de entuciastas emprendedores que motivados por el deseo de ofrecer alternativas para regalar detalles especiales, se unen ofreciendo productos de alta calidad, unicos, creativos y con precios adsequibles a todo publico con variadas opciones de pago, nuestro objetivo es prestar un servicio eficiente que cumpla y sobrepase las espectativas de nuestros clientes. 