<!DOCTYPE html>
<html>
  <head>
    <title>ROYAL GIFT</title>

     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/nav" %>  
    <div style="<%= "display:none" if notice.nil? %>" class="no-margin no-padding">
      <p class="alert alert-info no-padding no-margin"><%= notice %></p>
    </div> 
    <div style="<%= "display:none" if alert.nil? %>" class="no-margin no-padding">
      <p class="alert alert-info no-padding no-danger"><%= alert %></p>
    </div>    
    <div class="col-lg-12 no-padding">
      <%= yield %>
    </div>
    <div class="col-lg-12"></div>
    <div class="row bottom-xs light-blue large-padding">
      <div class="col-xs-12">
        <div class="box">
             <footer class="other-grey-text">
               <div class="border-bottom">
                 Siguenos en facebook
               </div>
               <div class="col-lg-6 ">
                 <a href="who"class="block">¿Quienes somos?</a>
                 <span class="block">Politicas de calidad</span>
                 <span class="block">Acerca de nuestras formas de pago</span>
               </div>
               <div class="col-lg-6 ">
                 <span class="block">royalgiftbogota@gmail.com</span>
                 <span class="block">Telefonos: 5386524/3197370611</span>
                 
               </div>
             </footer>
        </div>
    </div>
</div>
  </body>
</html>
